body {
  font-size: 16px;
  color: #2f4f4f;
  background-color: #eaf6f5;
  font-family: 'Oxygen', sans-serif;
}

#header-nav{
    background-color: #6aa6a1;
    border-radius: 0;
    border: 0;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 {
  font-family: 'Lora', serif;
  color: #ffffff;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 0 1px 1px rgba(0,0,0,0.15);
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

@media (max-width: 767px) {
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #dff3ef;
    z-index: 9999;
    border-top: 1px solid rgba(0,0,0,0.06);
    padding: 0;
  }

  #header-nav .container {
    position: relative;
  }

  .navbar-collapse .nav {
    display: block;
    margin: 0;
    padding: 0;
  }

  .navbar-collapse .nav > li {
    border-bottom: 1px solid #e6efee;
  }

  .navbar-collapse .nav > li > a {
    display: block;
    padding: 15px 20px;
    color: #234f4f;
    font-weight: 600;
  }

  .navbar-collapse.collapse:not(.in) {
    display: none;
  }
}

.tall-section{
  background-color: #f7fbfb;
  color: #333;
  min-height: 1000px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.tall-section h2 { margin-top: 0; }
